api_platform:
    title: 'Zoho Clone API'
    description: 'A self-hosted project management API'
    version: '1.0.0'

    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']

    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        extra_properties:
            standard_put: true
            rfc_7807_compliant_errors: true
        pagination_items_per_page: 30
        pagination_client_items_per_page: true
        pagination_maximum_items_per_page: 100

    docs_formats:
        jsonld: ['application/ld+json']
        jsonopenapi: ['application/vnd.openapi+json']
        html: ['text/html']

    enable_swagger_ui: true

    mapping:
        paths: ['%kernel.project_dir%/src/Entity']

    patch_formats:
        json: ['application/merge-patch+json']

    collection:
        pagination:
            enabled: true
