parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\State\:
        resource: '../src/State/'
        tags: ['api_platform.state_processor', 'api_platform.state_provider']

    App\Security\Voter\:
        resource: '../src/Security/Voter/'
        tags: ['security.voter']

    App\EventListener\:
        resource: '../src/EventListener/'
